* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-body {
  padding-top: 50px;
  background-color: rgb(233, 244, 255);
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navigation .navbar .navbar-brand {
  color: rgb(0, 106, 255);
  font-weight: bold;
}

.navigation .navbar .nav-link.active {
  background-color: rgb(0, 128, 255); 
  color: white; 
  border-radius: 5px; 
  padding: 8px 12px; 
}
.navigation .navbar .d-flex .btn {
  background-color: rgb(172, 218, 255);
  border: none;
  margin: 0 10px;
}
.navbar-nav {
  padding: 10px;
  
}
.navbar-nav .nav-link {
  transition: transform 0.3s ease;
}
.navbar-nav .nav-link:hover {
  transform: translateY(-1px) scale(1.01); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
/*--------------------------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(0, 234, 255) );
  padding: 30px;
}
.title {
  color: white;
  font-size: 50px;
}
.subtitle {
  color: white;
}
.button {
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 128, 255);
  border: none;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.05);
}
.popular-products h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.popular-products-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.popular-products-card .card {
  min-height: 500px;
}
.card {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translate(-3px) scale(1.01);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: 100%;
  margin-top: auto;
}
.popular-products-card .card-img-top {
    padding: 10px 70px 10px 70px;
    object-position: center;
    background: linear-gradient(#7b4fdb,#4646c9);
}
.popular-products-card .btn {
  background-color: rgb(0, 204, 255);
  border: none;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.old-price {
  margin-right: 10px;
  text-decoration: line-through;
  font-size: 17px;
  color: gray;
}
.new-price {
  font-size: 25px;
  font-weight: bold;
}
.badge-red,
.badge-blue {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 10px;
  border-radius: 7px;
  color: white;
}
.badge-blue {
  background-color: rgb(2, 213, 255);
}
.badge-red {
  background-color: rgb(255, 79, 79);
}
.view-products {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0; 
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgb(0, 162, 255);
  margin: 0 auto;
}
/*--------------------------------------------------*/
.advantages h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.advantages-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.advantages .card-img-top {
  padding: 10px 70px;
}




/*Каталог*/
.catalog {
  margin: 20px;
}
.catalog .catalog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.catalog-cards .card-img-top {
  padding: 10px 70px 10px 70px;
  object-position: center;
  background: linear-gradient(#7b4fdb,#4646c9);
}




/*О нас*/
.main-about {
  margin: 20px;
  margin-bottom: 40px;
}
.main-about .title {
  color: black;
}



.about {
  background-color: rgb(216, 233, 247);
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
.about h2 {
  text-align: center;
  margin-bottom: 20px;
}
.card-about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-about .card-title {
  font-size: 60px;
  color: #48c2ff;
   font-weight: bold;
}


.team {
  margin: 20px;
}
.team h2 {
  margin:40px 0 20px;
  text-align: center;
}
.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.team-cards .card {
  background-color: rgb(216, 233, 247);
  text-align: center;
}
.team-cards .post {
  color: #18acf7;
  font-weight: bold;
}
.team-cards .card-img-top {
  padding: 10px 70px 0 70px;
  object-position: center;
}


.choose-us {
  background-color: rgb(216, 233, 247);
  margin: 20px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
}
.choose-us h2 {
  margin: 40px;
  text-align: center;
}
.choose-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.choose-cards .card {
  text-align: center;
}
.choose-cards .card-title {
  margin-bottom: 10px;
}
.choose-cards .card-img-top {
  padding: 10px 70px 0 70px;
  object-position: center;
}



/*footer*/
footer {
  background-color: rgb(29, 36, 47);
  margin-top: 40px;
  color: white;
  padding: 40px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer p {
  color: rgb(164, 163, 163);
}
.footer h3 {
  margin-bottom: 20px;
}
.but {
  background-color: rgb(74, 76, 81);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.end {
  color: rgb(164, 163, 163);
  text-align: center;
  margin-top: 20px;
}
.footer-divider {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #ccc, transparent); 
  margin: 30px 0; 

}




@media (max-width: 480px) {
  .end {
    text-align: center;
  }
}


